.contenair{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: auto;
}

.all{
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  background: linear-gradient(to right bottom, #f02e2e, #e81643, #db0054, #cb0163, #b7126f, #a01967, #8a1c5e, #751d54, #59193c, #3d1528, #230f17, #000000);
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  width: 100%;
}


  footer {
    width: 100%;
    position: fixed;
    bottom: 0;
   
  }

  .image2 {
    
    display: flex;
    float : left;
   background-position: bottom left;
    width : 10%;
    height : 10%;
  }

  .head{
    display: flex;
    justify-content: flex-end
  }
 

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

h1 {
    font-size: 2.6rem;
    font-family: 'Times New Roman', Times, serif;
    color: black; 
}



li{
    font-size: 2rem;
}
a{
    color: white;
    text-decoration: none;
}
a:hover
{
   color : black;
}


.main-head {
    background: none;
    color: black;
}

nav{
    min-height: 10vh;
    display: flex;
    align-items: left;
    width: 90%;
    margin: auto;
    padding: 2rem;
}

nav ul {
    display: flex;
    flex: 1 1 40rem ;  
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
}

#log {
    flex : 2 1 40rem
    
}
button {
  margin: 50px;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.simple:hover{
  background: #34393E;
  color: #5EB6DD;
}

p {
  font-size: 20px;
}
.copyright {
  margin-top: 35px;
  margin-right: 120px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}


